@import url('https://fonts.cdnfonts.com/css/ketchum');

* {
    margin: 0;
    padding: 0;
}

#fondo-total {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


body {
    height: 100vh;
    place-items: center;
    place-content: center;
    justify-content: center;
    justify-items: center;


    .columna1 {
        position: relative;
        display: none;
        flex-direction: column;
        place-content: center;
        place-items: center;
        font-family: "Fredoka One", sans-serif;
        height: 100%;
        width: 100%;

        #fondo {
            position: absolute;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: fill; 
            margin: 0px px

        }

        #numero {
            font-size: 100px;

        }

        #tipos {
            display: flex;

            .tipo {
                background-color: rgb(208, 255, 87);
                border-radius: 30px;
                margin: 3px;
                padding: 20px;
                width: 40%;
            }
        }

        #debilidades {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;


            .debilidad {
                margin: 3px;
                background-color: rgb(81, 134, 240);
                padding: 20px;
                border-radius: 30px
            }
        }
    }

    .imagen {
        place-content: center;
        place-items: center;
        justify-content: center;
        justify-items: center;



        #nombre {
            font-family: 'Ketchum', sans-serif;
            font-size: 100px;
            color: #ffcb05;
            -webkit-text-stroke: 3px #2a75bb;
            margin: 10px;
        }

        .buscar {
            position: relative;
            width: 220px;
            height: 50px;

            img {
                position: absolute;
                width: 220px;
                z-index: -1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            #pokemon {

                border: none;
                background: transparent;
                position: absolute;
                left: 43%;
                top: 50%;
                transform: translate(-50%, -50%);
                outline: none;
                border-top-right-radius: -50px;
                border-bottom-right-radius: -50px;
                color: #7f2000;
            }

            #pokemon::placeholder {
                color: rgba(165, 19, 0, 0.5);
            }

            button {
                position: absolute;
                right: 0;
                border-radius: 100%;
                width: 40px;
                height: 40px;
                background: transparent;
                transform: translate(-50%, -50%);
                top: 50%;
                right: -7.5%;
                border: none;
            }
        }

        #pokeball {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./media/1.png);
            background-size: cover;
            border-radius: 100%;
            margin: 20px;

            #imagen {
                width: 400px;
            }
        }


    }

    .datos {
        display: none;
        flex-direction: column;

        .barra {
            border: 1px solid black;
            width: 100%;
            height: 20px;
            border-radius: 20px;

            [id^="color"] {
                background-color: blueviolet;
                height: 100%;
                border-radius: 20px;
            }
        }
    }
}